/**************Body***************
*********************************/

*{
	font-family: arial, sans-serif;
	font-size: small;
	text-decoration: none;
}

/**************Header*************
*********************************/


nav a{

	margin-top: 10px;
	float: right;
	margin-right: 20px;
	color: #666666;
	
}

.connect{

	margin-top: 2px;
	float: right;
	margin-right: 30px;
	height: 30px;
	width: 90px;
	color: white;
	border-radius: 0px;
	background-color: #4485F5;
	border: 0px;
	font-weight: bold;
}

.app{

	float: right;
	margin-right: 20px;
	margin-top: 10px;
	opacity: 0.7;
}




 .app:hover{

	opacity: 1;
}

nav a:hover{

	text-decoration: underline;
}

/*************Section*************
*********************************/
section{

	width: 600px;
	margin-right: auto;
	margin-left: auto;
}

.google{
	margin-top: 195px;
	margin-left: 25%;
	

}

.barre{
	
	margin-top: 20px;
	width: 600px;
	height: 38px;
	border-radius: 0px;
	border: 1px #D9D9D9 solid;
}

.barre:hover{

	border: 1px rgba(0,0,0,0.3) solid;
}

.barre:focus{

	border: 1px #4D90FE solid;
}

.search{
	
	margin-left: 25%;
	margin-top: 30px;
	height: 40px;
	width: 160px;
	color: #757575;
	border-radius: 0px;
	background-color: #F3F3F3;
	border: 0px;
	font-weight: bold;
}

.search:hover{

	border: 1px grey solid;
	color: black;
}

.chance{

	margin-left: 5px;
	height: 40px;
	width: 160px;
	color: #757575;
	border-radius: 0px;
	background-color: #F3F3F3;
	border: 0px;
	font-weight: bold;
}

.chance:hover{

	border: 1px grey solid;
	color: black;
}

/*************Footer**************
*********************************/


footer{

	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: #F2F2F2;
	width: 100%;
	height: 45px;
}



ul{

	list-style: none;

}

ul a{

	color: #A7A7A7;
}

li{

	display: inline;
	padding-left: 10px;
	margin-right: 10px;
}


.left{

	float: left;
}

.left a:hover{

	text-decoration: underline;
}

.right{

	float: right;
}


.right a:hover{

	text-decoration: underline;
}

/************************************SMARTPHONES******************************/

@media screen and (max-width: 730px){


/*****************Section***********
***********************************/

.google{

	margin-left: 5%;
}


section
{
	margin-top: 10px;
	width: 300px;
	font-size: 6px;
}

.barre{

	width: 100%;
}

.search{

	margin-left: 20px;
	width: 130px
}

.chance{

	width: 120px;
}

/***********Footer***********
****************************/

.right{

	display: none;

}

.left{

	display: none;
}

footer{

	width: 100%;
}

}